<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC7iP-aJ1Me9MXdL2IKB0iBeyz_zzcnbnI</string>
	<key>GCM_SENDER_ID</key>
	<string>996669819566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.valueUp</string>
	<key>PROJECT_ID</key>
	<string>valueup-2e010</string>
	<key>STORAGE_BUCKET</key>
	<string>valueup-2e010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996669819566:ios:92680b1229392373b37b3f</string>
	<key>DATABASE_URL</key>
	<string>https://valueup-2e010-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>